<button *ngIf="state == 'Signup' || state == 'Login'" type="button" class="btn btn-primary fixed-top-button" (click)="loginprocces('')">Back</button>
<div class="signup-container">
  

  <div class="btn-group position-fixed fixed-top end-0 m-3" role="group" aria-label="Authentication Buttons">
    
    
    <button *ngIf="state != 'Signup'" type="button" class="btn btn-primary" (click)="loginprocces('Signup')">Signup</button>
   
    <button *ngIf="state != 'Login'" type="button" class="btn btn-secondary" (click)="loginprocces('Login')" >Login</button>
  </div>
</div>


<div *ngIf="state == 'Login'" class="container col-sm-4">
  <div class="row justify-content-center">
    <div class="col-sm-12">
      <form class="mt-5 col-sm-12" [formGroup]="userFormLogin" (ngSubmit)="userlogin()">
        <div class="mb-1">
          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-control form-control-sm" id="email" formControlName="email" required email>
        </div>
        <div class="mb-1">
          <label for="password" class="form-label">Password:</label>
          <input type="password" class="form-control form-control-sm" id="password" formControlName="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>




<div *ngIf="state == 'Signup'" class="container col-sm-4">
  <div class="row justify-content-center">
    <div class="col-sm-12">
      <form class="mt-5 col-sm-12" [formGroup]="userForm" (ngSubmit)="registerUser()">
        <div class="mb-1">
          <label for="fullname" class="form-label">Full Name:</label>
          <input type="text" class="form-control form-control-sm" id="fullname" formControlName="fullname" required>
        </div>
        <div class="mb-1">
          <label for="username" class="form-label">Username:</label>
          <input type="text" class="form-control form-control-sm" id="username" formControlName="username" required>
        </div>
        <div class="mb-1">
          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-control form-control-sm" id="email" formControlName="email" required email>
        </div>
        <div class="mb-1">
          <label for="password" class="form-label">Password:</label>
          <input type="password" class="form-control form-control-sm" id="password" formControlName="password"
            required minlength="8" maxlength="20"
            pattern="^(?=.*[a-zA-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,20}$">
          <div *ngIf="userForm.get('password')?.invalid && (userForm.get('password')?.dirty || userForm.get('password')?.touched)" class="text-danger">
            <div *ngIf="userForm.get('password')?.errors?.['required']">Password is required.</div>
            <div *ngIf="userForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters long.</div>
            <div *ngIf="userForm.get('password')?.errors?.['maxlength']">Password cannot be more than 20 characters long.</div>
            <div *ngIf="userForm.get('password')?.errors?.['pattern']">Password must contain at least one letter, one number, and one special character.</div>
          </div>
        </div>
        <div class="mb-1">
          <label for="city" class="form-label">City:</label>
          <input type="text" class="form-control form-control-sm" id="city" formControlName="city">
        </div>
        <div class="mb-1">
          <label for="address" class="form-label">Address:</label>
          <textarea class="form-control form-control-sm" id="address" formControlName="address"></textarea>
        </div>
        <div class="mb-1">
          <label for="logo" class="form-label">Logo:</label>
          <input type="text" class="form-control form-control-sm" id="logo" formControlName="logo">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>


